/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7d9a8;
    color: #333;
}

html, body {
    height: 100%;
    margin: 0;
}

/* Navbar */
.navbar {
    background-color: #ff7300;
    color: white;
    padding: 10px 0;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.navbar .logo {
    font-size: 40px;
    font-weight: bold;
    margin-left: 2rem;
}

.navbar .searchBar {
    margin-left: 3rem;
}

.navbar .searchBar input {
    width: 10rem;
    padding: 8px;
    border: none;
    border-radius: 4px;
}

.navigation {
    list-style: none;
    display: flex;
    margin-left: 14rem;
    gap: 3rem;
}

.profile {
    display: flex;
    margin-left: 18rem;
    gap: 10px;
}

.mainContent {
    flex: 1;
}

.footer {
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #ff7300;
    color: white;
    text-align: center;
    padding: 10px 0;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
}

/*Registration form page*/
